<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TrackSnap</title>
    <link rel="icon" type="image/x-icon" href="/images/favicon.ico">
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <div class="landing-container relative flex flex-col items-center justify-center min-h-screen text-white">
        <div class="absolute inset-0 bg-black opacity-50"></div> <!-- Overlay -->
        <h1 class="relative text-5xl font-extrabold mb-6 animate-fade-in">Welcome to TrackSnap</h1>
        <div class="w-5">
            <p class="relative text-2xl mb-8 animate-fade-in">Track and share your location in real-time.</p>
            <p>See the real-time locations of all active users on this server. Please note, no data is stored or cached on our end; this feature is purely for demonstration purposes.</p>
        </div>
        <a href="/app" class="relative btn bg-blue-700 hover:bg-blue-800 text-white font-bold py-3 px-6 rounded-full shadow-lg transition duration-300 ease-in-out transform hover:scale-105">Get Started</a>
    </div>
</body>
</html>
