<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TrackSnap</title>
    <link rel="icon" type="image/x-icon" href="/images/favicon.ico">
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <div class="landing-container">
        <h1>Welcome to TrackSnap</h1>
        <div>
            <p>Track and share your location in real-time.</p>
            <p>See the real-time locations of all active users on this server. Please note, no data is stored or cached on our end. Location is updated every 5 seconds for precise tracking. This feature is purely for demonstration purposes.</p>
        </div>
        <a href="/app" class="btn">Get Started</a>
    </div>
</body>


<footer class="footer">
    <div class="footer-container">
        <span>© 2024 <a href="https://flowbite.com/" class="footer-link">Kirtan Parikh</a>. All Rights Reserved.</span>
    </div>
</footer>


</html>